[submodule "third_party/phpstorm-stubs"]
	path = third_party/phpstorm-stubs
	url = https://github.com/JetBrains/phpstorm-stubs.git
[submodule "third_party/unsafenil"]
	path = third_party/unsafenil
	url = https://github.com/laytan/unsafenil.git
